/db
/db/*
*.pyc
/api/token/__pycache__/
/api/token/__pycache__/*
.env
.env-server
.cache/*
packages/*
.idea/*
crawler/log/*
crawler/temp/*
user-data/newsletter_subscribers.txt
user-data/beta_users.txt
.vscode
docker-compose.yml
/logs/*
