[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
"neo4j-driver" = "*"
pytest = "*"
twitterapi = "*"
uwsgi = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
